<br><br><br><br><br><br><br><br><br><br><br>
<div class="row">
    <div class="col s12 ">
      <div class="card-panel light-blue lighten-3">
      	<div align="center">
      	  <i class="large material-icons white-text">email</i>
      	</div>
		<h1 align="center" class="white-text"> Welcome to Ascheri Mailbox </h1>
		<h4 align="center" class="white-text">Please login to see your mail</h4>
		<br>
			<div align="center">
			  <%= link_to "Login", login_path, class: "waves-effect blue darken-2 btn-large" %>
			</div>
	  </div>
	</div>
</div>
<br><br><br><br>