<h1 class="center-align">You have not paid</h1>

<div class="row center-align">
    <div class="col s12 m12 l12">
    <div class="card-panel red darken-2">
    <span class="white-text"><h4>Your account is temporarly disabled please get in contact with <strong>Ascheri & Partners</strong></h4> 
    </span>
    <p> </p>
    <div align="center">
		<%= mail_to "info@ascheri.co.uk", "Email Us", :subject => "My account is disabled".html_safe, class: "waves-effect blue btn-small" %></td>
	</div>
    </div>
    </div>
</div>