<%= render 'companies/form' %>
<div class="center-align">
	<%= link_to '<i class="material-icons right">arrow_back</i>Back to Company'.html_safe, company_path(@company), class: 'waves-effect waves-light btn-small'  %>
</div>
