@import "materialize";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

 main {
    flex: 1 0 auto;
  }

  .card-panel {
  	border-radius: 10px;
  }

  .btn-large {
  	border-radius: 10px;
  	letter-spacing: 5px;
  }

  .add-user-form{
  	padding-top: 30px;
  }

  footer{
    margin-top: 50px;
  }

 
.pagination li.active a {
  background-color: #26a69a !important;
  color: #fff;
}